*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* disable touch long press */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
body{
    background: #fff;
    color: #080808;
}
#header{
    width: 100%;
    height: 100vh;    
}
.banner1,.banner2,.banner3,.banner4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.text-box{
    margin: auto;
    width: 40%;
    position: relative;
    top: 40%;
    transform: translate(0,-40%);
    text-align: center;
    color:#fff;
    will-change: transform;
    animation: textup 16s linear infinite;
    transform: translateY(60px);
}
.text-box p{
    font-size: 60px;
    font-weight: 200;
    color:#fff;
    text-wrap: wrap;
}
img.image-1,img.image-2,img.image-3,img.image-4{
    width: 105%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(90%);
    will-change: width;
    animation: zoom-out 4s linear infinite;
}
@keyframes zoom-out {
    100%{
        width: 100%;
    }
}
.banner1{
    animation: slide1 16s ease-in-out infinite;
}
.banner2{
    animation: slide2 16s ease-in-out infinite;
}
.banner3{
    animation: slide3 16s ease-in-out infinite;
}
.banner4{
    animation: slide4 16s ease-in-out infinite;
}
@keyframes slide1 {
    0%, 100%{
        visibility: visible;
    }
    25%, 50%, 75%{
        visibility: hidden;
    }
}
@keyframes slide2 {
    0%, 25%, 75%, 100%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
}
@keyframes slide3 {
    0%, 25%, 50%, 100%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
}
@keyframes slide4 {
    0%, 25%, 50%, 75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes textup {
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.text-box-1{
    animation-delay: 0s;
}
.text-box-2{
    animation-delay: 4s;
}
.text-box-3{
    animation-delay: 8s;
}
.text-box-4{
    animation-delay: 12s;
}
.container nav{
    scrollbar-gutter: stable both-edges;
    color: #080808;
    padding: 20px 10%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    z-index: 10000;
}
nav .block{
    display: none;
}
nav a{
    text-decoration: none;
    color:#080808;
}
nav a img{
    position: relative;
    width: 160px;
}
nav ul{
    margin-left: -40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #080808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#sidemenu{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}
#sidemenu .social-icons-mob{
    display: none;
}
.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 16px;
    color:#080808;
    display: inline-block;
}
.social-icons a:hover{
    color: #0d62da;
}

/* ------------- css for small screens --------------*/
nav .fa-solid{
    display: none;
    cursor: pointer;
}
@media only screen and (max-width: 1200px){
    /* .container nav{
        padding: 40px 10%;
    } */
    nav .block{
        display: block;
        width: 12px;
    }
    nav i.fa-bars{
        display: block;
        font-size: 28px;
    }
    nav ul{
        margin-left: 0;
    }
    #sidemenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(255, 255, 255);
        margin: auto;
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100%;
        padding-top: 120px;
        text-align: center;
        z-index: 2;
        transition: right 0.5s;
    }
    #sidemenu ul{
        width: 100%;
    }
    #sidemenu ul li{
        display: block;
        text-align: center;
        margin-bottom: 32px;
    }
    .social-icons{
        display: none;
    }
    #sidemenu .social-icons-mob{
        display: block;
        width: 100%;
    }
    #sidemenu .social-icons-mob a{
        margin: auto;
        padding: 0 12px;
        font-size: 20px;
    }
    #sidemenu .fa-xmark{
        display: block;
        height: 50px;
        width: 50px; 
        line-height: 50px;
        border-radius: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 60px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }
    .text-box{
        width: 100%;
    }
    .text-box p{
        font-size: 44px;
    }

}

/* ---------------------------about----------------------------- */
/* #about{
    padding: 80px 80px 80px 80px;
    color:#080808;
    margin: auto;
}
.about-us{
    text-align: center;
    margin: -180px 0 40px 0;
    padding: 40px 0 20px 0;
    background-color: #fff;
    position: relative;
    z-index: 100;
}
.sub-title{
    font-size: 48px;
    font-weight: 400;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}
.slogan{
    font-size: 20px;
    padding: 0 25% 0 25%;
}
.services-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-box{
    flex-basis: 30%;
    text-align: center;
    background-color: #edeae2;
    padding: 32px 32px 32px 32px;
    font-weight: 300;
    box-shadow: 4px 4px 12px rgb(224, 224, 222);
    transition: background-color 0.2s, transform 0.2s;
}
.service-box h2{
    margin-bottom: 8px;
    font-weight: 500;
}
.service-box i{
    font-size: 28px;
    margin-bottom: 16px;
}
.service-box:hover{
    background-color: #e5fcf5;
    transform: translateY(-10px);
} */
/* ------------- css for small screens --------------*/
/* @media only screen and (max-width: 900px){
    #about{
        padding-left: 16px;
        padding-right: 16px;
    }
    .sub-title{
        font-size: 36px;
    }
    .slogan{
        font-size: 16px;
        padding: 0 5% 0 5%;
    }
    .services-list{
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
} */

/* ---------------------------portfolio----------------------------- */
#portfolio{
    text-align: center;
    padding: 10% 15%;

}
.grid{
    display: flex;
}
.grid .grid-col{
    flex: 1;
    padding: 0 0.5em;
}
.project{
    width: 100%;
    margin-bottom: 0.6em;
}
.project-img{
    position: relative;
    overflow: hidden;
}
.project:hover{
    cursor: pointer;
}
.project-img:hover img{
    transform: scale(1.1);
}
.project-img img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    transition: transform 0.3s;
}
.project-text{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.8);
    opacity: 0;
    transition: opacity 0.3s;
}
.project-text:hover {
    opacity: 1;
}
.project-text h2{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* padding-top: 8px; */
}
.project-text h2 span{
    font-size: 16px;
    font-weight: 200;
}
/* ------------- css for smaller screens --------------*/
@media only screen and (max-width: 1024px){
    .project-img{
        display: flex;
        flex-direction: column-reverse;
    }
    .project-text{
        position: relative;
        width: 100%;
        padding-top: 8px;
        opacity: 1;
    }
    .project-text h2{
        top: 0;
        transform: none;
        text-align: left;
        font-size: 16px;
    }
    .project-text h2 span{
        font-size: 12px;
    }
    .grid-col--3{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    #portfolio{
        padding: 10% 4%;
    }
    .project-text{
        padding-bottom: 12px;
    }
    .grid-col--2{
        display: none;
    }
}



/* @media only screen and (min-width: 700px){
    .project-list{
        padding: 40px 5% 40px 5%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center; 
    }
    .project{
        width: 100%;
    }   
} */
/* @media only screen and (min-width: 900px){
    .project-list{
        padding: 60px 15% 40px 15%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 320px;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        justify-content: center;
    }
    .project:nth-child(1){
        grid-column: 1/4; 
        grid-row: 1/6;
    }
    .project:nth-child(2){
        grid-column: 5/8; 
        grid-row: 1/5;
    }
    .project:nth-child(3){
        grid-column: 9/12; 
        grid-row: 1/6;
    }
    .project:nth-child(4){
        grid-column: 5/8; 
        grid-row: 6/11;
    }
    .project:nth-child(5){
        grid-column: 1/4; 
        grid-row: 7/12;
    }
    .project:nth-child(6){
        grid-column: 9/12; 
        grid-row: 7/13;
    }
    .project:nth-child(7){
        grid-column: 1/4; 
        grid-row: 13/17;
    }
    .project:nth-child(8){
        grid-column: 5/8; 
        grid-row: 12/16;
    }
    .project:nth-child(9){
        grid-column: 9/12; 
        grid-row: 13/19;
    }
    .project:nth-child(10){
        grid-column: 5/8; 
        grid-row: 17/23;
    }
    .project:nth-child(11){
        grid-column: 1/4; 
        grid-row: 18/23;
    }
    .project{
        padding-bottom: 0;
    }
    .project-text{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }
} */
/* --------------------------- testimonials ----------------------------- */
/* #testimonials{
    text-align: center;
    padding: 24px 24px 24px 24px;
}
.container-4{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.wrapper .fa-angle-right{
    height: 50px;
    width: 50px;
    right: -22px;
    background: #edeae2;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper .fa-angle-left{
    height: 50px;
    width: 50px;
    left: -22px;
    background: #edeae2;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #edeae2;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    cursor: pointer;
}
.card .fa-solid{
    font-size: 40px;
}
.card p{
    font-size: 18px;
    font-weight: 200;
    padding-top: 10px;
}
.card h2{
    font-weight: 500;
    padding-top: 16px;
}
.card h3{
    font-weight: 300;
} */

/* @media only screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
} 
@media only screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}  */
/* --------------------------- contact ----------------------------- */
#contact{
    padding: 24px 10% 24px 10%;
    margin-top: 24px;
    /* background-color:antiquewhite ; */
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-left{
    flex-basis: 35%;
    padding-top: 16px;
}
.contact-right{
    flex-basis: 60%;
}
.last-title{
    font-size: 40px;
    font-weight: 600;
}
.contact-left p{
    margin-top: 28px;
}
.contact-left p i{
    margin-right: 16px;
    font-size: 24px
}
/* .social-icons{
    margin-top: 32px;
} */

.btn-1{
    display: inline-block;
    margin: 52px auto;
    width: fit-content;
    background-color: #eecc6c;
    border: 1px solid #edeae2;
    padding: 12px 52px;
    border-radius: 6px;
    text-decoration: none;
    color:#080808;
    font-size: 18px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ffffff;
    padding: 16px;
    margin: 16px 0;
    color:#080808;
    font-size: 18px;
    border-radius: 6px;
}
form .btn-2{
    padding: 16px 60px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    padding-top: 32px;
    font-weight: 300;
    text-align: center;
}
#msg{
    display: block;
    color: rgb(11, 168, 102);
    margin-top: -40px;
}
/* ------------- css for small screens --------------*/
@media only screen and (max-width: 900px){
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-right{
        padding-top: 16px;
    }
}
    




